.hoverTable{
    width:100%; 
    border-collapse:collapse; 
}
.hoverTable td{ 
    padding:7px; 
}

.hoverTable tr:hover {
      background-color:rgb(236, 236, 236);
}

div ul  li{
    display: inline-block;
}
a{
    
        background-color: coral;
        padding: 8px 20px;
        text-decoration:none;
        font-weight:bold;
        border-radius:5px;
        cursor:pointer;
        margin-right: 100px;
}
colp{
    width: auto;
}
