<!-- left menu  -->
<div style="width: 100%; speak-header: once;background-image: linear-gradient(to right, #f7ac52, #f99081);">

  <div id="myNav" class="overlay">
    <div class="overlay-content"style=" ">
      <div class="ligne-0 row" >
        <div class="fermer col-1 col-sm-1">
          <span class="closebtn" style="cursor:pointer" onclick="closeNav()">&times;</span>
        </div>
        <div class="espacement col-8 col-sm-8" style="height: 100vh;">
          <div class="imageFOD row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <a href="../vue-html/Index.html" data-toggle="tooltip" title="Home"><div class="text-center">
                <img src="../../../assets/images/logo-FOD.jpg"
                     class="logo-image-nav img mx-auto" alt="Responsive image" style="width: 100% ; margin-top: 5%;"></div>
              </a>
            </div>
            <div class="col-sm-2"></div>
          </div>

          <div class="row">
            <div class="aaaa col-12 col-sm-12">

              <div class="title-liste-1">
                <label style="vertical-align: text-top;">Ajout Condidat. </label>
              </div>

              <div style="margin-top: 5%;"></div>
              <div class="menu-item">
                <a routerLink="add-candidature" style="color: black;">
                  <span class="liste text-black" onclick="closeNav()">Ajout Condidature.</span>
                </a>
              </div>

              <div class="menu-item" >
                <a routerLink="add-candidat" style="color: black;">
                  <span class="liste text-black">Ajout candidat</span>
                </a>
              </div>

              <div class="menu-item" >
                <a routerLink="liste-des-candidat" style="color: black;">
                  <span class="liste text-black">liste des candidats</span>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
</div>
<!-- nav-bar -->

<div style="width: 100%; height: 1%; background-image: linear-gradient(to right, #f7ac52, #f99081);">
  <div class="row">
    <div class="col-10">  </div>
    <div class="col-2">
      <button type="button" class="btn btn-outline-dark btn-sm" style=" margin-top: -25%; align-content: center;">
        <span class="liste text-black"><strong>Logout</strong></span>
        <i class="fas fa-power-off" style=" width: 5%; margin-left: 5%; margin-right: 10% ;"></i>
      </button>
    </div>
  </div>
</div>
<!-- le contenu  -->

<div class="feyez" style="width: 100%">
  <div class="ligne-titre row">
    <div class="col-1"></div>
    <div class="col-8">
            <span class="text-uppercase" id="name" style=" font-size:large;font-family: cursive; margin-top: 5%;
            margin-bottom: 5%; margin-left: 10%;"></span>
    </div>
  </div>
</div>



<!-- le contenu  -->
<div class="container">
  <div class="row">

    <table class="table hoverTable" id="table">
      <thead>
      <tr style="background-image: linear-gradient(to right, #f7ac52, #f99081);">
        <th scope="col">id candidat</th>
        <th scope="col">offre demandé</th>
        <th scope="col">date des candidatures</th>
      </tr>
      </thead>
      <tbody style="height: 10px !important; overflow: scroll; ">
      <tr *ngFor="let item of filteredCandidature"  (click)="selectcandidature(item)" >
        <td scope="row">{{item.id_candidat}}</td>
        <td>{{item.offre}}</td>
        <td>{{item.date | date:'fullDate'}}</td>
      </tr>
      <tr *ngIf="!collapsed1">
        <td scope="row"  class="colp" *ngFor="let item of candidature.test |keyvalue" class="col-xs-12">
          <a> {{item.key}}  </a>
          <a> {{item.value}} </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>



