<mdb-card><!-- Material form login -->
  <!-- nav-bar -->

  <mdb-card-header class="info-color white-text text-center py-4"
                   style=" background-image: linear-gradient(to right, #f7ac52, #f99081);">
  </mdb-card-header>

  <div class="container">
    <div class="imageFOF row">
      <div class="col-4"></div>
      <div class="col-4">
        <img src="../../assets/images/logo-FOD.jpg" style="width: 60%;">
      </div>
      <div class="col-4"></div>
    </div>
    <mdb-card-body class="px-lg-5 pt-0">
      <!-- Form -->
      <form class="text-center" style="color: #757575;">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-4 text-center md-form" style="width: 40%;" > <!-- Email -->
            <input type="email" id="materialLoginFormEmail" class="form-control" ngModel name="email" #email ="ngModel" mdbInput >
            <label for="materialLoginFormEmail">E-mail</label>
            <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
              Please Enter your Email
            </div>
          </div>
          <div class="col-4"></div>
        </div>

        <div class="row">
          <div class="col-4"></div>
          <div class="col-4 text-center md-form"  style="width: 40%;"> <!-- Password -->
            <input type="password" id="materialLoginFormPassword" class="form-control" ngModel name="password" #password="ngModel"  mdbInput>
            <label for="materialLoginFormPassword">Password</label>
            <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
              Please Enter your password
            </div>
          </div>
          <div class="col-4"></div>
        </div>

        <div class="row">
          <div class="col-4"></div>
          <div class="col-4 d-flex justify-content-around">
            <div><!-- Remember me --><mdb-checkbox>Remember me</mdb-checkbox></div>
            <div><!-- Forgot password --><a href="">Forgot password?</a></div>
          </div>
          <div class="col-4"></div>
        </div>

        <!-- Sign in button -->
        <div class="row">
          <div class="col-md-5"></div>
          <div class="col-md-2">
            <button mdbBtn outline="true" rounded="true" block="true"
                    class="my-4 waves-effect z-depth-0" mdbWavesEffect type="submit" [routerLink]="['/home']"
                    routerLinkActive="router-link-active" [disabled]="email.invalid || password.invalid" style="background-image: linear-gradient(to right, #f7ac52, #f99081);">
              <span style="color: white">Sign in </span>
            </button>
          </div>
          <div class="col-md-5"></div>
        </div>
        <!-- Register -->
        <p>Not a member?<a routerLink="/signup" >Register</a></p>
        <!-- Social login -->

      </form>
      <!-- Form -->
    </mdb-card-body>
  </div>

  <!--Card content-->

</mdb-card>
<!-- Material form login -->
