<div class="jumbotron jumbtron-fluid">
    <h3 class="display-4 text-center"><img src="assets/images/fod.png"></h3>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
            <table class="table table-hover">
                <thead class="thead-light">
                  <th>Full Name</th>
                  <th>Speciality</th>
                  <th>Score</th>
                  <th>Telephone</th>
                  <th>
                    <a class="btn btn-outline-success" routerLink="/order"><i class="fa fa-plus-square"></i> Add Candidat</a>
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of orderList">
                    <th (click)="openForEdit(item.OrderID)">{{item.OrderNo}}</th>
                    <td (click)="openForEdit(item.OrderID)">{{item.Customer}}</td>
                    <td (click)="openForEdit(item.OrderID)">{{item.PMethod}}</td>
                    <td (click)="openForEdit(item.OrderID)">{{item.GTotal}}</td>
                    <td>
                        <a class="btn text-danger" (click)="onOrderDelete(item.OrderID)"><i class="fa fa-trash fa-lg"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
  </div>
