<div class="jumbotron jumbtron-fluid">
    <br>
    <h3 class="display-4 text-center"><img src="/assets/img/food.png"></h3>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
            <form #form="ngForm" autocomplete="off" *ngIf="service.formData" (submit)="onSubmit(form)">
                <input type="hidden" name="OrderID" #OrderID="ngModel" [(ngModel)]="service.formData.OrderID">
                <div class="row">
              
                  <!--First Div-->
              
                  <div class="col-md-6">
              
                    <div class="form-group">
                      <label>First Name</label>
                      <input type="text" name="CustomerID" #CustomerID="ngModel" [(ngModel)]="service.formData.CustomerID"
                        class="form-control" [class.is-invalid]="!isValid && service.formData.CustomerID==0">
                    </div>
              
              
                    <div class="form-group">
                      <label>Email</label>
                      <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                        <input type="email" name="PMethod" #PMethod="ngModel" [(ngModel)]="service.formData.PMethod"
                          class="form-control">
              
                      </div>
              
                    </div>
              
                  </div>
                  <!--Fin First Div-->
                  <!--Second Div-->
              
                  <div class="col-md-6">
              
                    <div class="form-group">
                      <label>Last Name</label>
                      <input name="OrderNo" #OrderNo="ngModel" [(ngModel)]="service.formData.OrderNo" class="form-control">
                    </div>
              
                    <div class="form-group">
              
                      <label>Telephone</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">#</div>
                        </div>
                        <input name="GTotal" #GTotal="ngModel" [(ngModel)]="service.formData.GTotal" class="form-control">
                      </div>
                    </div>
              
                  </div>
              
                  <!--Fin second Div-->
              
                  <!--Third Div-->
              
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Pays</label>
                      <select name="PMethod" #PMethod="ngModel" [(ngModel)]="service.formData.PMethod" class="form-control">
                        <option value="">-Select-</option>
                        <option value="Tunisie">Tunisie</option>
                        <option value="France">France</option>
                        <option value="Belgique">Belgique</option>
                      </select>
                    </div>
                  </div>
              
                  <!--fin Third Div-->
                  <!--forth Div-->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Date of Birth</label>
                      <input type="date" name="PMethod" #PMethod="ngModel" [(ngModel)]="service.formData.PMethod"
                        class="form-control">
              
              
              
                    </div>
                  </div>
                  <!--Fin forth Div-->
              
              
                </div>
                <!-- order items table-->
                <table class="table table-borderless">
                  <thead class="thead-light">
                    <th>Speciality</th>
                    <th>Experience</th>
                    <th>Certifications</th>
                    <th>Other Skills</th>
                    <th>State</th>
                    <th>Date of Application</th>
              
                    <th>
                      <a class="btn btn-sm btn-success text-white" (click)="AddOrEditOrderItem(null,service.formData.OrderID)"><i
                          class="fa fa-plus"></i> Add Application</a>
                    </th>
                  </thead>
                  <tbody>
                    <tr *ngIf="service.orderItems.length==0" [class.text-danger]="!isValid && service.orderItems.length==0">
                      <td class="font-italic text-center" colspan="7">
                        No application has been submitted for this candidate
                      </td>
                    </tr>
              
                    <tr *ngFor="let item of service.orderItems;let i=index;">
                      <td>{{item.ItemName}}</td>
                      <td>{{item.Price}}</td>
                      <td>{{item.Quantity}}</td>
                      <td>{{item.Total}}</td>
                      <td>
                        <a class="btn btn-sm btn-info text-white" (click)="AddOrEditOrderItem(i,service.formData.OrderID)"><i
                            class="fa fa-pencil"></i></a>
                        <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDeleteOrderItem(item.OrderItemID,i)"><i
                            class="fa fa-trash"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="form-group">
                  <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
                  <a class="btn btn-outline-dark ml-1" routerLink="/orders"><i class="fa fa-table"></i> View Candidates</a>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>
