<!-- Material form register -->
<mdb-card>

  <mdb-card-header class="info-color white-text text-center py-4" 
  style=" background-image: linear-gradient(to right, #f7ac52, #f99081);">
    <h5>
      <strong>Sign up</strong>
    </h5>
  </mdb-card-header>

  <!--Card content-->
  <mdb-card-body class="px-lg-5 pt-0">

    <!-- Form -->
    <form ngForm="form"  (submit)="submit()" class="text-center" style="color: #757575;" >

      <div class="form-row">
        <div class="col">
          <!-- First name -->
          <div class="form-group">
          <div class="md-form">
            <input type="text" class="form-control" id="materialRegisterFormFirstName" required [(ngModel)]="service.userInst.firstName" name="firstName" mdbInput #firstName="ngModel" >
            <label for="materialRegisterFormFirstName">First name</label>
          </div>

          <div *ngIf="firstName.touched && firstName.invalid" class="alert alert-danger">
            Please Enter your First Name
          </div>

          </div>

           
        </div>
        <div class="col">
          <div class="form-group">
          <!-- Last name -->
          <div class="md-form">
            <input type="text" [(ngModel)]="service.userInst.lastName" name="lastName" required id="materialRegisterFormLastName" class="form-control" mdbInput #lastName="ngModel">
            <label for="materialRegisterFormLastName">Last name</label>
          </div>
          <div *ngIf="lastName.touched && lastName.invalid" class="alert alert-danger">
            Please Enter your Last Name
          </div>
        </div>
      </div>
      </div>

      <!-- E-mail -->
      <div class="md-form ">
        <div class="form-group">
        <input type="email" [(ngModel)]="service.userInst.email" name="email" required id="materialRegisterFormEmail" class="form-control" #email="ngModel" mdbInput>
        <label for="materialRegisterFormEmail">E-mail</label>
        <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
          Please Enter your email
        </div>
      </div>
    </div>

      <!-- Password -->
      <div class="md-form">
        <input type="password" [(ngModel)]="service.userInst.password" name="password" required id="materialRegisterFormPassword" class="form-control" #password="ngModel" aria-describedby="materialRegisterFormPasswordHelpBlock"
          mdbInput>
        <label for="materialRegisterFormPassword">Password</label>
        <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
          Please Enter your password
        </div>
        <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
          At least 8 characters and 1 digit
        </small>
      </div>

     

      <!-- Newsletter -->
      <mdb-checkbox>Subscribe to our newsletter</mdb-checkbox>

      <!-- Sign up button -->
      <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
        type="submit" [disabled]="firstName.invalid || lastName.invalid || email.invalid || password.invalid" class="btn btn-success" style="background-image: linear-gradient(to right, #f7ac52, #f99081);">Sign in</button>

      <!-- Social register -->
      <p>or sign up with:</p>

      <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="facebook"></mdb-icon>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="twitter"></mdb-icon>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="linkedin"></mdb-icon>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="heart"></mdb-icon>
      </a>

      <hr>

      <!-- Terms of service -->
      <p>By clicking
        <em>Sign up</em> you agree to our
        <a href="" target="_blank">terms of service</a>. </p>
        
       
        
    </form>
    <!-- Form -->

  </mdb-card-body>

</mdb-card>
<!-- Material form register -->

